<app-toolbar></app-toolbar>
<section>
  <button
    mat-raised-button
    class="m-6"
    color="primary"
    [routerLink]="['/one']"
    routerLinkActive="accent"
  >
    Route One
  </button>
  <button
    mat-raised-button
    class="m-6"
    color="primary"
    [routerLink]="['/two']"
    routerLinkActive="accent"
  >
    Route Two
  </button>
  <button
    class="bg-red-300 m-6"
    [routerLink]="['/one']"
    routerLinkActive="bg-red-500"
  >
    route one
  </button>
  <button
    class="bg-red-300 m-6"
    [routerLink]="['/two']"
    routerLinkActive="bg-red-500"
  >
    route two
  </button>
</section>

<router-outlet></router-outlet>
