<app-toolbar></app-toolbar>
<section class="flex justify-center">
  <button
    mat-raised-button
    class="m-6"
    color="primary"
    [routerLink]="['/']"
    routerLinkActive="accent"
  >
    HOME
  </button>
  <button
    mat-raised-button
    class="m-6"
    color="primary"
    [routerLink]="['/detail']"
    routerLinkActive="accent"
  >
    Route two
  </button>
  <button
    class="bg-red-300 m-6"
    [routerLink]="['/']"
    routerLinkActive="bg-red-500"
  >
    home
  </button>
  <button
    class="bg-red-300 m-6"
    [routerLink]="['/detail']"
    routerLinkActive="bg-red-500"
  >
    route two
  </button>
</section>

<router-outlet></router-outlet>
