<button mat-raised-button class="m-6" color="primary" (click)="changeLimit(5)">
  change limit to 5
</button>
<button mat-raised-button class="m-6" color="primary" (click)="changeLimit(50)">
  change limit to 50
</button>
<br />
<!-- 
  NgIf conditionally includes a template based on the value of an expression coerced to Boolean. When the expression evaluates to true, Angular renders the template provided in a then clause, and when false or null, Angular renders the template provided in an optional else clause. The default template for the else clause is blank. 
  In this case ngIf atribute is using observable variable with declared pipe operator, AsyncPipe unwraps a value from an asynchronous primitive. Basically it connects us to the data stream and get a new changed value "limit" from the data stream. The conditional statement stores the result of limit$|async in the local variable limit 
<span class="m-6" *ngIf="limit$ | async as limit"
  ><b>{{ limit }}</b></span
>
-->

<ng-container *ngIf="pokeList$ | async as pokeList">
  <!-- 
    With ngFor we can print this data to the screen under the form of a data table, by generating HTML, with this atribute we can loop throughout pokeList fetched from our data stream  -->
  <ul class="flex gap-x-6 gap-y-6 flex-wrap">
    <li *ngFor="let item of pokeList.results" class="w-56">
      <card [name]="item?.name" [url]="item?.url"></card>
    </li>
  </ul>
  <!-- 
    Displaying values with interpolation and using Angular Json Pipe which converts a value or object into JSON formatted string, otherwise we get just object Object
<pre>{{ pokeList | json }}</pre>-->
</ng-container>
