<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="flex items-center">
      <span>Pokedex</span>
      <button
        mat-icon-button
        aria-label="Example icon button with a home icon"
        class="flex ml-2"
      ></button>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="ml-auto flex items-center"
        aria-label="Example icon-button with menu icon"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>menu</mat-icon>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            [routerLink]="['']"
            routerLinkActive="router-link-active"
          >
            Home
          </button>
          <button
            mat-menu-item
            [routerLink]="['/detail']"
            routerLinkActive="router-link-active"
          >
            Detail
          </button>
        </mat-menu>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
